body {
  font-family: monospace;
  background: #05070f;
  color: #00ffcc;
  text-align: center;
  margin-top: 60px;
}

button {
  padding: 10px;
  border: 1px solid #00ffcc;
  background: transparent;
  color: #00ffcc;
}

a {
  color: #4f7cff;
}
